@{
    ViewBag.Title = "About";
}

@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@


<!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>About <span>Us </span></h3>
        <!--/w3_short-->
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li><a href="index.html">Home</a><i>|</i></li>
                    <li>About</li>
                </ul>
            </div>
        </div>
        <!--//w3_short-->
    </div>
</div>
<!-- /banner_bottom_agile_info -->
<div class="banner_bottom_agile_info">
    <div class="container">
        <div class="agile_ab_w3ls_info">
            <div class="col-md-6 ab_pic_w3ls">
                <img src="~/images/ab_pic.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="col-md-6 ab_pic_w3ls_text_info">
                <h5>About Our Zwee Kwat <span> Online Market</span> </h5>
                <p>
                    Zwee Kwat Online Market is a
                    collection of online shops.
                    You can find and buy
                    many different types of
                    products from many different
                    types of online shops at one place...
                </p>
                <p>
                    If you want to open a online shop,
                    you can sell any legal products
                    at Zwee Kwat Online Market. Even you have
                    a phycial shop, you can use our services.
                </p>
                <p>
                    Zwee Kwat Online Market is a best
                    ecommerce platform in Myanmar. And We can bring your dreams.
                    Start your business on our platform!
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="banner_bottom_agile_info_inner_w3ls">
            <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                <figure class="effect-roxy">
                    <img src="~/images/about1.jpg" alt=" " class="img-responsive" />
                    <figcaption>
                        <h3><span>Open</span> Store</h3>
                        <p>Zwee Kwat Market</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                <figure class="effect-roxy">
                    <img src="~/images/about2.jpg" alt=" " class="img-responsive" />
                    <figcaption>
                        <h3><span>Buy</span> Products</h3>
                        <p>Zwee Kwat Market</p>
                    </figcaption>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- team row 1-->
<div class="banner_bottom_agile_info team" style="padding-bottom:10px;">
    <div class="container">
        <h3 class="wthree_text_info">Our Team <span>Members</span></h3>
        <div class="inner_w3l_agile_grids">
            <div class="col-md-4 team-grids">
                <div class="thumbnail team-w3agile">
                    <img src="~/images/t1.jpg" class="img-responsive" alt="">
                    <div class="social-icons team-icons right-w3l fotw33">
                        <div class="caption">
                            <h4>Htet Aung Hein</h4>
                            <p>Member @@RAYS</p>
                        </div>
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                            <li>
                                <a href="https://www.facebook.com/htetaunghein.98" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 team-grids">
                <div class="thumbnail team-w3agile">
                    <img src="~/images/t2.jpg" class="img-responsive" alt="">
                    <div class="social-icons team-icons right-w3l fotw33">
                        <div class="caption">
                            <h4>Naing Ye Aung</h4>
                            <p>Member @@RAYS</p>
                        </div>
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                            <li>
                                <a href="https://www.facebook.com/nyyair.aung" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 team-grids">
                <div class="thumbnail team-w3agile">
                    <img src="~/images/t3.jpg" class="img-responsive" alt="">
                    <div class="social-icons team-icons right-w3l fotw33">
                        <div class="caption">
                            <h4>Aung Kaung Myat</h4>
                            <p>Member @@RAYS</p>
                        </div>
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                            <li>
                                <a href="https://www.facebook.com/aung.kaungmyat.792" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //team row 1 -->
<!-- team row 2-->
<div class="banner_bottom_agile_info team" style="padding-top:0px;">
    <div class="container">

        <div class="inner_w3l_agile_grids">
            <div class="col-md-4 team-grids">
                <div class="thumbnail team-w3agile">
                    <img src="~/images/t4.jpg" class="img-responsive" alt="">
                    <div class="social-icons team-icons right-w3l fotw33">
                        <div class="caption">
                            <h4>Kyaw Ko Ko</h4>
                            <p>Member @@RAYS</p>
                        </div>
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                            <li>
                                <a href="https://www.facebook.com/kyar.lay.121" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 team-grids">
                <div class="thumbnail team-w3agile">
                    <img src="~/images/t5.jpg" class="img-responsive" alt="">
                    <div class="social-icons team-icons right-w3l fotw33">
                        <div class="caption">
                            <h4>Sai Htut Naing</h4>
                            <p>Member @@RAYS</p>
                        </div>
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                            <li>
                                <a href="https://www.facebook.com/minion.htetmyat" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 team-grids">
                <div class="thumbnail team-w3agile">
                    <img src="~/images/t6.jpg" class="img-responsive" alt="">
                    <div class="social-icons team-icons right-w3l fotw33">
                        <div class="caption">
                            <h4>Phoe Nyan Kyaw</h4>
                            <p>Member @@RAYS</p>
                        </div>
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                            <li>
                                <a href="https://www.facebook.com/phoe.nyan.90" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //team row 2 -->
<!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
    <div class="container">
        <h3 class="wthree_text_info">What's <span>Trending</span></h3>

        <div class="col-md-5 bb-grids bb-left-agileits-w3layouts">

            <div class="bb-left-agileits-w3layouts-inner grid">
                <figure class="effect-roxy">
                    <img src="~/images/bb1.jpg" alt=" " class="img-responsive" />
                    <figcaption>
                        <h3><span>S</span>ale </h3>
                        <p>Upto 55%</p>
                    </figcaption>
                </figure>
            </div>

        </div>
        <div class="col-md-7 bb-grids bb-middle-agileits-w3layouts">
            <div class="bb-middle-agileits-w3layouts grid">
                <figure class="effect-roxy">
                    <img src="~/images/bottom3.jpg" alt=" " class="img-responsive" />
                    <figcaption>
                        <h3><span>S</span>ale </h3>
                        <p>Upto 55%</p>
                    </figcaption>
                </figure>
            </div>
            <div class="bb-middle-agileits-w3layouts forth grid">
                <figure class="effect-roxy">
                    <img src="~/images/bottom4.jpg" alt=" " class="img-responsive">
                    <figcaption>
                        <h3><span>S</span>ale </h3>
                        <p>Upto 65%</p>
                    </figcaption>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!-- /we-offer -->
<div class="sale-w3ls">
    <div class="container">
        <h6>We Offer Flat <span>40%</span> Discount</h6>

        <a class="hvr-outline-out button2" href="/Home/AllProducts">Shop Now </a>
    </div>
</div>
<!-- //we-offer -->
