
@{
    ViewBag.Title = "SellerView";
}

<div style="text-align:center; padding-top:50px;">
    <h3 class="wthree_text_info">Store Management <span style="color:#7fa33e">@@Zwee Kwat Market</span></h3>
</div>

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-4">
        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2" style="width:100%; height:70px;">
            <form action="/Products/Create">
                <input type="submit" name="submit" value="Add Product" class="button" />
            </form>
        </div>
    </div>

    <div class="col-md-4">
        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2" style="width:100%; height:70px;">
            <form action="/Orders/" method="post">
                <input type="submit" name="submit" value="View Order" class="button" />
            </form>
        </div>
    </div>

   
    <div class="col-md-2"></div>

</div>





