USE [ZweeKwat]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 3/6/2019 8:58:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 3/6/2019 8:58:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 3/6/2019 8:58:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 3/6/2019 8:58:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 3/6/2019 8:58:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 3/6/2019 8:58:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/6/2019 8:58:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 3/6/2019 8:58:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[ID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 3/6/2019 8:58:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[ID] [uniqueidentifier] NOT NULL,
	[OrderID] [uniqueidentifier] NOT NULL,
	[ProductID] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[SubTotal] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/6/2019 8:58:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [uniqueidentifier] NOT NULL,
	[CustomerID] [uniqueidentifier] NOT NULL,
	[Date] [datetime] NOT NULL,
	[SubTotal] [float] NOT NULL,
	[Taxes] [float] NOT NULL,
	[DeliveryFee] [float] NOT NULL,
	[ServiceCharges] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/6/2019 8:58:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Price] [int] NOT NULL,
	[CategoryID] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[StoreID] [uniqueidentifier] NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stores]    Script Date: 3/6/2019 8:58:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[ID] [uniqueidentifier] NOT NULL,
	[StoreName] [nvarchar](max) NOT NULL,
	[OwnerName] [nvarchar](max) NOT NULL,
	[NRC] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Stores] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'6980ECC3-13A7-4EB0-B32E-FF629A98DBDE', N'admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'6439C55D-115E-4FC5-9BA1-23188A6AC706', N'seller')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'A19B0BCC-BAC2-46A1-8C34-D0BBD33497FF', N'user')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Facebook', N'820646111603612', N'206a9676-df5b-4f75-8697-9df78c3f1e89')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'3e9b9557-f1d7-4b2e-bf55-c720acf1b794', N'6439C55D-115E-4FC5-9BA1-23188A6AC706')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2792f5fa-b82e-473e-b3aa-f5859f8c52b9', N'6980ECC3-13A7-4EB0-B32E-FF629A98DBDE')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'05332735-72bd-4772-a04d-4f6db89484f2', N'A19B0BCC-BAC2-46A1-8C34-D0BBD33497FF')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'05332735-72bd-4772-a04d-4f6db89484f2', N'john@gmail.com', 0, N'AMAzME/9sYStn44I8VnSDCBwfwZBv1Q8BXIfxIyYIP//rK0UzqLfKlNz7/kkznxEXQ==', N'1cd52872-7393-4cb8-9d45-e4f83fb51220', NULL, 0, 0, NULL, 1, 0, N'john@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'206a9676-df5b-4f75-8697-9df78c3f1e89', N'htetaunghein12198@gmail.com', 0, NULL, N'69235b64-1301-44e8-a5b5-f0b21502b69a', NULL, 0, 0, NULL, 1, 0, N'htetaunghein12198@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2792f5fa-b82e-473e-b3aa-f5859f8c52b9', N'admin@gmail.com', 0, N'AJKDRTE5sFgkWt+SBjvJGqcgY6fv2Q18itDPrMMGR7o75g9+WUCbD6oiM1ZvnflOnQ==', N'97ba59b9-8974-415b-a7f4-494b9e8e3685', NULL, 0, 0, NULL, 1, 0, N'admin@gmail.com')
INSERT [dbo].[Categories] ([ID], [Name]) VALUES (N'83dfe6a4-a522-4d8e-9845-01f5ca5a2e50', N'Bags & Accessories')
INSERT [dbo].[Categories] ([ID], [Name]) VALUES (N'23b61260-5ed2-4ead-817c-088f04512980', N'Sports & Outdoor')
INSERT [dbo].[Categories] ([ID], [Name]) VALUES (N'b87a134b-079a-41b2-877e-155f650ffab6', N'Furniture & Household Goods')
INSERT [dbo].[Customers] ([ID], [UserID], [Name], [Phone], [Address]) VALUES (N'dfc0e4a0-561b-4cc4-8d08-3ffe05c935fb', N'00000000-0000-0000-0000-000000000000', N'John', N'09-123456', N'Insein')
INSERT [dbo].[Customers] ([ID], [UserID], [Name], [Phone], [Address]) VALUES (N'912afef9-cd32-4eb4-8d7e-5c9386d25b04', N'00000000-0000-0000-0000-000000000000', N'Robert', N'09402523271', N'Hledan')
INSERT [dbo].[Customers] ([ID], [UserID], [Name], [Phone], [Address]) VALUES (N'da5d996a-3fbb-4299-916c-8bf24e7d283d', N'00000000-0000-0000-0000-000000000000', NULL, NULL, NULL)
INSERT [dbo].[OrderDetails] ([ID], [OrderID], [ProductID], [Quantity], [Price], [SubTotal]) VALUES (N'3c5fe083-d9bb-4ba8-bd6c-12895782c63e', N'62aa5ba4-90d4-46d1-9ec9-b42826953cae', N'ac0e9675-4bda-495d-b6c7-5138078e1f77', 1, 994000, 994000)
INSERT [dbo].[OrderDetails] ([ID], [OrderID], [ProductID], [Quantity], [Price], [SubTotal]) VALUES (N'5c8e22a3-cfbd-4de9-8e9d-f7f14a059c16', N'ad30ca35-4187-41f8-bbc4-2e5425d11b17', N'befa5baa-ef5d-4d93-a35a-54c7ead5f213', 1, 40000, 40000)
INSERT [dbo].[OrderDetails] ([ID], [OrderID], [ProductID], [Quantity], [Price], [SubTotal]) VALUES (N'645e27b0-cafb-42d2-8583-fec565797e31', N'6c035183-2377-46e6-9528-cbffc1eab40f', N'684f1081-b8b4-43ca-bdb4-f53c13e2c7e8', 1, 899000, 899000)
INSERT [dbo].[Orders] ([ID], [CustomerID], [Date], [SubTotal], [Taxes], [DeliveryFee], [ServiceCharges]) VALUES (N'ad30ca35-4187-41f8-bbc4-2e5425d11b17', N'dfc0e4a0-561b-4cc4-8d08-3ffe05c935fb', CAST(N'2019-03-06 08:29:11.853' AS DateTime), 40000, 2000, 2000, 0)
INSERT [dbo].[Orders] ([ID], [CustomerID], [Date], [SubTotal], [Taxes], [DeliveryFee], [ServiceCharges]) VALUES (N'62aa5ba4-90d4-46d1-9ec9-b42826953cae', N'da5d996a-3fbb-4299-916c-8bf24e7d283d', CAST(N'2019-03-06 08:39:14.057' AS DateTime), 994000, 49700, 2000, 0)
INSERT [dbo].[Orders] ([ID], [CustomerID], [Date], [SubTotal], [Taxes], [DeliveryFee], [ServiceCharges]) VALUES (N'6c035183-2377-46e6-9528-cbffc1eab40f', N'912afef9-cd32-4eb4-8d7e-5c9386d25b04', CAST(N'2019-03-06 07:54:25.673' AS DateTime), 0, 44950, 2000, 0)
INSERT [dbo].[Products] ([ID], [Name], [Price], [CategoryID], [Quantity], [StoreID], [ImagePath]) VALUES (N'ecd20d4e-2401-4d88-bef2-4647da53cc05', N'FRYE Mens Scott Cap Toe', 85000, N'e66b33d9-5b60-48af-9064-510257d67f96', 2, N'af84749f-90d5-454f-b91c-b49257cbbf70', N'41xeaYSziRL._AC_US218_.jpg')
INSERT [dbo].[Products] ([ID], [Name], [Price], [CategoryID], [Quantity], [StoreID], [ImagePath]) VALUES (N'ac0e9675-4bda-495d-b6c7-5138078e1f77', N'Lenovo IdeaPad 530S 14.1″ Gray (i5) (8th Gen)', 994000, N'a5cbe59a-ca82-464c-9fbc-4975661594a9', 2, N'b8bd9dde-84a1-4327-8242-28ac2f7dc15b', N'Lenovo-IdeaPad-320-Black-i3-7th-Gen-150x150.jpg')
INSERT [dbo].[Products] ([ID], [Name], [Price], [CategoryID], [Quantity], [StoreID], [ImagePath]) VALUES (N'befa5baa-ef5d-4d93-a35a-54c7ead5f213', N'UNIQLO Men''s Flannel', 40000, N'4df879fa-798a-4ed8-acb5-457f669f00e9', 3, N'47d8bcd5-7d43-4861-b686-ae106440cfb7', N'goods_15_401839.jpg')
INSERT [dbo].[Stores] ([ID], [StoreName], [OwnerName], [NRC], [Phone], [Email], [Address], [ImagePath]) VALUES (N'b8bd9dde-84a1-4327-8242-28ac2f7dc15b', N'911 Computer Shop', N'U Maung Zaw', N'12/YGN(N)135798', N'09-4012345678', N'umgzaw@gmail.com', N'Pan Soe Tan', N'picture13268800651555.png')
INSERT [dbo].[Stores] ([ID], [StoreName], [OwnerName], [NRC], [Phone], [Email], [Address], [ImagePath]) VALUES (N'c3175ed8-1359-4a21-b0ba-7fbdb4ba3a79', N'Max', N'U Ye Kyaw', N'12/YGN(N)123456', N'09-40123456', N'uye@gmail.com', N'Insein', N'index.jpg')
INSERT [dbo].[Stores] ([ID], [StoreName], [OwnerName], [NRC], [Phone], [Email], [Address], [ImagePath]) VALUES (N'47d8bcd5-7d43-4861-b686-ae106440cfb7', N'Y-Z Fashion', N'Daw Mi Mi', N'12/YGN(N)246812', N'01-123456', N'dawmimi@gmail.com', N'Hlaing', N'index2.png')
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Customers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Customers_CustomerID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Stores_StoreID] FOREIGN KEY([StoreID])
REFERENCES [dbo].[Stores] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Stores_StoreID]
GO
